@import 'material';
@import 'widgets/side';
@import 'widgets/dash';
@import 'widgets/widget';

body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: $font-family-sans-serif;
}

a {
  color: map-get($mat-grey, 100);
}

app-root {
  height: 100%;
  min-height: 100vh;
}

.sidenav {
  padding: 1rem;  
  min-width: 250px;
}

.code-wrapper {
  background-color: map-get($mat-grey, 300);
}

code {
  color: map-get($dark-accent, 300);
}

.config-item-notes {
  font-size: 90%;
}

.formly-array {
  margin: 2rem 0;
  padding: 2rem 1rem;
  border: 1px solid map-get($mat-grey,600);
  .formly-array-label {
    margin-bottom: 1rem;
  }
}

.mat-form-field, .form-panel {
  margin: 1rem 0;
}

.config-file {
  button.mat-raised-button {
    margin: .25rem;
  }
}

.widget-model {
  overflow: auto;
}

.main-section-help {
  font-size: 90%;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid map-get($mat-grey, 800);
  background: rgba(black, .25);
  max-height: 100px;
  overflow: auto;
  
}