<div class="dialog-container">
  <div class="dialog-body">
    <form [formGroup]="form" (ngSubmit)="saveForm()">
      <formly-form [model]="inputModel" [fields]="fields" [options]="inputOptions" [form]="form">
        <button mat-raised-button color="primary" type="submit" (click)="saveForm()">Save</button>
      </formly-form>
    </form>
  </div>
  <div class="dialog-buttons" mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="saveForm()">Save</button>
    <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
  </div>
</div>
<!--<form [formGroup]="xform" (ngSubmit)="submit()">
  <formly-form [model]="xmodel" [fields]="xfields" [options]="options" [form]="xform">
    <button mat-raised-button color="primary" type="submit">
      Submit
    </button>
  </formly-form>
  
</form>-->